/**
section{
    width: 900px;
    border:  2px, solid black;
    display: flex;
  
}
.tamaño{
        width: 150px;
        height: 150px;

}
.caja1{
    background-color: red;
    flex-grow: 1;
  
}

.caja2{
    background-color: green;
    flex-grow: 1;
    
}

.caja3{
    background-color: blue;
    flex-grow: 1;
    flex-basis: 500px;
}
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(rgba(53,82, 66, 0.5), rgba(47, 80, 63, 0.6)),  url(imagen1.jpg) center no-repeat;/* le das color a la imagen de fondo de la pagina web*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1,p{ /*al poner , se agrupa las funciones de h1 y p*/
    margin-bottom :15px;
    color: white;
   animation-name: izquierda; /* crea la animacion de izquierda a derecha*/
   animation-duration: 2s;

}
button{
    width: 180px;
    padding: 12px;
    margin: 20px;
    border: 2px solid #eee; /* al boton se le agrega color y mas grueso el contorno*/
    border-radius: 50px; /*redondea el boton*/
    cursor: pointer; /*aparece la manito cuando pasa el cursor por el boton*/
    font-size: 18px;
    letter-spacing: 1px; /*da espacio entre letras*/
    background:  transparent;/* da transparencia al boton*/
    color: white; 
}

button:hover{ /*cuando pasas el cursor la funcion HOVER de color*/
    background-color: red; 
}

@keyframes izquierda { /*le das animacion de izquierda a derecha*/
    0%{
        transform: translateX(520px);/*le decimos que se traslade sobre el eje X, Y o Z*/
        opacity: 1; /* es la transpararencia*/
    }
    100%{
        transform: translateX(0);
    }
}
  
a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}
