*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;/* al colocar el atributo SCROLL-behavior con el valor smooth, todos los anclajes (tipo about) van a ser mas lentos!!*/
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;/*daca todos los subrayados*/
    color: black;
}
nav > a{/* con esta funcion le estamos diciendo que todos los a del nav les corra el margen*/ margin-left: 15px;
}
.hamburguesa{
    color: black;
    display: none;
    cursor: pointer;
    font-size: 32px;
}
/*@media(max-width:500px){/*con esta funcion le decimos que cuando lleguen al a 500px los elementos del nav y div desaparezcan con la funcion hidden*/
nav{
    display: none; 
 
 }
 .hamburguesa{
    display:block;
    color: black;
 }
 .contenedorImgTexto{
   display: flex;
   width: 100%;
   justify-content: center;
 }
 .contenedorTextoAbout{
    width: 40%;
    margin-left: 3.5rem;
 }
img{
    width: 30%;
}
 /*
header{
    flex-direction: column;/*indico que cuando baje a menos de 500 px se formen en columna*/

nav{
    display: flex;
    justify-content: space-around;
   margin: 40px;
}

.contenedorHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
     background: linear-gradient(59deg, rgba(63,68,98,0.2) 2%, rgba(62,5,16,0.2) 83%),url(imagen3.jpg);
    background-size: cover; /*centra la imagen de para que quede mejor la imagen en la pantalla*/
    background-position: center center;/* centra la imagen en x e y*/
}
.tituloHero{
    font-size: 4rem; /* todo lo que sea texto va con la medida REM, 1rem son 16px*/
    text-transform: uppercase; /*pone el texto en mayusculas*/
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}
.textoHero{
    font-size: 1rem;
    color: white;
    background-color: red;
    max-width: 50%;
    text-align: center;
    padding-bottom: 2rem;
}
button{
    padding: 0.9rem 1.6rem;
    border: 1px solid white;
    text-transform: uppercase;
    color: black;
    background-color: white;
    cursor: pointer;
}
.btnAbout{
    background-color: #2eabbb;
    padding: 1rem;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.textoPrincipal{
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    letter-spacing: 0.5rem;
    font-size: 2.8rem;
}
span{
    color: #2eabbb;
}