* { margin: 0;
    padding: 0;
  }
  header{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  a{text-decoration:  none;
      color: black;
  }
  
  nav > a{margin-left: 15px;
  }
  
  @media(max-width:500px){
   /*   nav,div{
          display: none;
      }
      .hamburguesa{
          display: block;
          color: black;
   }*/
   header{
    flex-direction: column;
}
nav {
    display: flex;
    flex-direction: column;
}
}
.contenedorHero{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background: url(imagen2.jpg);
}    
.tituloHero{
font-size: 4rem;
text-transform: uppercase;
color: white;
padding: 1.5rem 0;
text-align: center;
}
.textoHero{
    font-size: 2ren;
    color: white;
    background-color: red;
    max-width: 50%;
    text-align: center;  
    padding-bottom: 2rem;
}
button{
    padding: 0.9rem 1.6rem;
    border: 1px solid white;
    color: black;
    font-size: 1.25rem;
    background-color: white ;
    text-transform: uppercase;
    
}
button:hover{
    background-color: transparent;
    color: red;
    border-color: white;
}